{
  "presets": [
    ["@babel/preset-env"]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-object-rest-spread"],
    ["istanbul"]
  ],
  "env": {
    "test": {
      "plugins": [ [
        "istanbul", {
          "useInlineSourceMaps": false
        }
      ]]
    }
  }
}
